<!doctype html>
<html>
<head>
<title>Online Json Diff Tool</title>
<meta name="google-site-verification" content="EK0hk9E3hosm5oXXp4aNNZDh8btOJ_2YWeuMlwk72iw" />
<meta name="description" content="Online Json Diff Tool">
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93524943-1', 'auto');
  ga('send', 'pageview');

</script>

<h1 align="left">Online Json Diff Tool By Seiya</h1>

<table style="width:100%;">
<tr>
  <td width="50%" style="border: none">Please paste first json below</td>
  <td width="50%" style="border: none">Please paste second json below</td>
</tr>
</table>
<form method="post">
<table style="width:100%;">
<tr>
  <td width="50%" style="border: solid 1px orange">
  <textarea name="aStr" rows="10" style="resize:none; border:none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{leftOrig}}</textarea>
  </td>
  <td width="50%" style="border: solid 1px orange">
  <textarea name="bStr" rows="10" style="resize:none; border:none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{rightOrig}}</textarea>
  </td>
</tr>
</table>
<table style="width:100%">
<tr>
  <th>
  <input name="" type="submit" value="Get diff">
  </th>
</tr>
</table>
</form>

<br />
<br />
<br />

<table style="width:100%">
<tr>
<td width="50%" align="left" style="border: solid 1px orange">
{% autoescape false %}
    {{leftDiff}}
{% endautoescape %}
</td>
<td width="50%" align="left" style="border: solid 1px orange">
{% autoescape false %}
    {{rightDiff}}
{% endautoescape %}
</td>
</tr>
</table>

<br/>
<br/>


</body>
</html>
